@import "./fonts.css";

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#root {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: "Share Tech Mono";
}
